<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_83a8545763719315bdb789852c63dbd0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
    <div style="position: fixed; bottom: 75px; left: 50px; width: 120px; height: 180px; border:2px solid grey; z-index:9999; font-size:14px; color: white; background-color: rgba(0, 0, 0, 0.5);">
    &nbsp;<b>Legend:</b><br>
    &nbsp;<i class="fa fa-square fa-1x" style="color:#46473E"></i> metal<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#110C0A"></i> wheel<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#dee619"></i> plastic<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#D900EB"></i> cage<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#FC6F15"></i> wood<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#00FF00"></i> nature<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#e75480"></i> fishing gear<br></div>
    
            <div class="folium-map" id="map_83a8545763719315bdb789852c63dbd0" ></div>
        
</body>
<script>
    
    
            var map_83a8545763719315bdb789852c63dbd0 = L.map(
                "map_83a8545763719315bdb789852c63dbd0",
                {
                    center: [43.87056262387393, -69.30915427466408],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3fb2bd53ee798eb9c7586e363f97f166 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_16ebb6317f57eb5d8adb9699bf3a7a21 = L.rectangle(
                [[43.870532631699355, -69.30917721907998], [43.87054432719574, -69.30916428590906]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_084dd7e12a98348c8c89bc805e25f28a = L.rectangle(
                [[43.87056226559926, -69.30915079701623], [43.870575764626565, -69.30913598933631]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_bae9e6a10911144cc83722ad0b447a7d = L.rectangle(
                [[43.870577992567476, -69.30914465241152], [43.870584698382956, -69.30913053744038]],
                {"bubblingMouseEvents": true, "color": "#D900EB", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#D900EB", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_381c6980ef2660ce4d7ddfb428f1c2f4 = L.rectangle(
                [[43.87061764712478, -69.30907639352961], [43.87063171305078, -69.30906576230375]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_64c87e6a638ea5b19c88d897090d832c = L.rectangle(
                [[43.87064817287037, -69.30904108833172], [43.870655265677236, -69.30903286449946]],
                {"bubblingMouseEvents": true, "color": "#110C0A", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#110C0A", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_cd6631622c96efc07a93fb0d3ed544e0 = L.rectangle(
                [[43.870600253968185, -69.30909207033694], [43.87060858783361, -69.30908381835549]],
                {"bubblingMouseEvents": true, "color": "#110C0A", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#110C0A", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_fb80b7e5474e1974902f1761e3c2148b = L.rectangle(
                [[43.87048499578242, -69.30915480910944], [43.87049781350522, -69.30913978029231]],
                {"bubblingMouseEvents": true, "color": "#110C0A", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#110C0A", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_529956f124cb1cebed8ef27dedf5dab7 = L.rectangle(
                [[43.87065634581562, -69.30900700194078], [43.87066331646586, -69.30899125289142]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_e7c86d383d639d0afb45afd470453037 = L.rectangle(
                [[43.87049251251623, -69.30917881225746], [43.87050590732333, -69.30916934231959]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_1a63a82c271a5f7f8984c6e123c01de0 = L.rectangle(
                [[43.87054262081045, -69.30920762675225], [43.87055450512362, -69.30919566227892]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_35f20ad24a440f1d883865e4ef2c7a87 = L.rectangle(
                [[43.870568983121444, -69.30921907486031], [43.87057783018237, -69.30921150507052]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_2d43a4781b9e967313adddfde8f9f414 = L.rectangle(
                [[43.870572887277866, -69.3091807192701], [43.8705879779847, -69.30916571754452]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_a347b0a5d9f76f0e69cc99ab8bf343a4 = L.rectangle(
                [[43.87058867530545, -69.30917547779347], [43.87059517632893, -69.30916123226957]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_1eabd0b4a1e8fb9705b720c7182470a3 = L.rectangle(
                [[43.87050302531719, -69.3092077570796], [43.870516115916026, -69.30919766666803]],
                {"bubblingMouseEvents": true, "color": "#D900EB", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#D900EB", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_3d47a52cc6a2b141d9d859ddb93998c3 = L.rectangle(
                [[43.87053606828746, -69.30919379218886], [43.870550529722856, -69.30918355394037]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_3a9a1e105b586dcbdc6d2e6c53ee8c32 = L.rectangle(
                [[43.87048044335794, -69.30927094141188], [43.87048569883339, -69.30926671014898]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
    
            var rectangle_e2495c1e6465e50a759c288927aed1f9 = L.rectangle(
                [[43.87051163972738, -69.30923878558944], [43.87051682241147, -69.30923263835041]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_83a8545763719315bdb789852c63dbd0);
        
</script>
</html>