<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_06388a39cfafbe0e0d11b4e1684d05f4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
    <div style="position: fixed; bottom: 75px; left: 50px; width: 120px; height: 180px; border:2px solid grey; z-index:9999; font-size:14px; color: white; background-color: rgba(0, 0, 0, 0.5);">
    &nbsp;<b>Legend:</b><br>
    &nbsp;<i class="fa fa-square fa-1x" style="color:#46473E"></i> metal<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#110C0A"></i> wheel<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#dee619"></i> plastic<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#D900EB"></i> cage<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#FC6F15"></i> wood<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#00FF00"></i> nature<br>&nbsp;<i class="fa fa-square fa-1x" style="color:#e75480"></i> fishing gear<br></div>
    
            <div class="folium-map" id="map_06388a39cfafbe0e0d11b4e1684d05f4" ></div>
        
</body>
<script>
    
    
            var map_06388a39cfafbe0e0d11b4e1684d05f4 = L.map(
                "map_06388a39cfafbe0e0d11b4e1684d05f4",
                {
                    center: [43.87294257550833, -69.30967159541464],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_145d3644e4b874d8a103d80477d9c654 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_a5d27c95fb00e89a1c7f7fa227fdca78 = L.rectangle(
                [[43.8770878816632, -69.31052362339493], [43.877124924165415, -69.31048239790707]],
                {"bubblingMouseEvents": true, "color": "#FC6F15", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FC6F15", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_a1f86434406f17eac2b36a4d595a1570 = L.rectangle(
                [[43.87721722296657, -69.31065087392068], [43.8773598252984, -69.31057185651707]],
                {"bubblingMouseEvents": true, "color": "#FC6F15", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FC6F15", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_f99a2cda89e856404a2c204f29162caf = L.rectangle(
                [[43.87697695233378, -69.31063984288934], [43.87700610936454, -69.31058177629363]],
                {"bubblingMouseEvents": true, "color": "#FC6F15", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FC6F15", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_92ae5aba156a8ffd0e7f2aafed07e955 = L.rectangle(
                [[43.87703046061378, -69.31052311193788], [43.87704744316264, -69.31050388612682]],
                {"bubblingMouseEvents": true, "color": "#FC6F15", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FC6F15", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_15d6a9d90ca5dc57df7b90e7e57b4009 = L.rectangle(
                [[43.87053738911047, -69.30919260106224], [43.87054923066799, -69.30918023360532]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_ae5b469ab3159c47bb37eef25ce70e23 = L.rectangle(
                [[43.870563375608604, -69.30920380959446], [43.87057244792498, -69.3091953152026]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_8e409b6a8ba547d18cd7b5e07533cbd9 = L.rectangle(
                [[43.8704976437923, -69.30919313335822], [43.87051101819939, -69.30918383982737]],
                {"bubblingMouseEvents": true, "color": "#D900EB", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#D900EB", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_2cab3b7363c368df2dd3226fa4063e72 = L.rectangle(
                [[43.87056748492364, -69.3091654571049], [43.87058090479572, -69.30915144634213]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_d228454f1b2bbdd396f5b703c478ebfb = L.rectangle(
                [[43.87053026883541, -69.30917948521463], [43.87054498064642, -69.30916850205438]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_302e9de3c8cf3c95ca19592f83cc69e8 = L.rectangle(
                [[43.87058238060729, -69.30916265123892], [43.870589938820494, -69.30914651811017]],
                {"bubblingMouseEvents": true, "color": "#e75480", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e75480", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
    
            var rectangle_b8d394eed534bed491460b07d44a2bf5 = L.rectangle(
                [[43.870622094618554, -69.30909290512268], [43.870636683063694, -69.30908183229668]],
                {"bubblingMouseEvents": true, "color": "#dee619", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#dee619", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_06388a39cfafbe0e0d11b4e1684d05f4);
        
</script>
</html>