<!DOCTYPE html>
<html>

<head>
    <title>Map Display</title>
    <style>
        #map {
            height: 80vh;
            width: 100%;
            margin: 0 auto;
            margin-top: 10;
            display: block;
        }
        .reload {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/csv/">CSV</a>
        <a href="/overlap/">Overlap</a>
        <a href="/map/">Map</a>
        <a href="/plots/">Plot</a>
    </nav>
    <h1>Display Map</h1>
    <button id="reload">Reload Map</button>
    <button id="submitBtn">Submit</button>
    <iframe id="map" src="/show_map"></iframe>

    

    <script>
        const submitBtn = document.getElementById('submitBtn');

        submitBtn.addEventListener('click', () => {
            var map = document.getElementById('map');
            var timestamp = new Date().getTime();
            map.src = "/show_map?" + timestamp; 
            document.getElementById('map').contentWindow.location.reload();
        });


        document.getElementById('reload').addEventListener('click', function() {
        mapping();
        
        // existing code
        var map = document.getElementById('map');
        var timestamp = new Date().getTime();
        map.src = "/show_map?t=" + timestamp; 
        document.getElementById('map').contentWindow.location.reload();
        });
    
    </script>
</body>

</html>